@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: #0e7e12;
  padding: 0;
  margin: 0;
}

.wrapper {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carta {
  background-color: #ffffff;
  width: 400px;
  height: 600px;
  padding: 1em;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-rows: 50px auto 50px;
}

.carta-icon-header {
  text-align: left;
  font-size: 135px;
  line-height: 100px;
}

.carta-val {
  margin: auto;
  text-align: center;
  font-size: 220px;
  font-weight: bold;
}

.carta-icon-footer {
  font-size: 135px;
  line-height: 100px;
  text-align: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.espadas .a-card-val::after {
  content: "\2660";
}

.trebol .a-carta-val::after {
  content: "\2663";
}

.diamantes .a-carta-val::after {
  content: "\2666";
}

.corazon .a-carta-val::after {
  content: "\2665";
  color: red;
}

.espadas .carta-icon-header::after,
.espadas .carta-icon-footer::after {
  content: "\2660";
  transform: rotate(180deg);
}

.diamantes .carta-icon-header::after,
.diamantes .carta-icon-footer::after {
  content: "\2666";
  transform: rotate(180deg);
}

.trebol .carta-icon-header::after,
.trebol .carta-icon-footer::after {
  content: "\2663";
  transform: rotate(180deg);
}

.corazon .carta-icon-header::after,
.corazon .carta-icon-footer::after {
  content: "\2665";
  color: red;
  transform: rotate(180deg);
}

.a-carta-val {
  margin: auto;
  text-align: center;
  font-size: 220px;
  font-weight: bold;
}

.a-carta-header {
  font-size: 100px;
  line-height: 70px;
  text-align: left;
}

.a-carta-footer {
  font-size: 100px;
  line-height: 70px;
  text-align: right;
  display: flex;
  transform: rotate(180deg);
}
